<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registrar usuario</title>
  <link rel="stylesheet" href="C:\nginx\html\seguros\css\estilo.css">
  <script src="C:\nginx\html\seguros\config\config.js"></script>
  <script src="C:\nginx\html\seguros\locator\personalocator.js"></script>
  <script src="C:\nginx\html\seguros\dto\personaDto.js"></script>
  <script src="C:\nginx\html\seguros\view\html\registrar.js"></script>
</head>

<body>

  <div class="signupFrm">
    <form action="" class="form">
      <h1 class="title">Registrar usuario</h1>
      <div class="contenedor_form">
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Id persona</label>
        </div>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Nombre1</label>
        </div>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Nombre2</label>
        </div>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Apellido1</label>
        </div>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Apellido2</label>
        </div>
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Tipo documento</label>
        </div>
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Numero documento</label>
        </div>
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Sexo</label>
        </div>
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Email</label>
        </div>
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Numero telefono</label>
        </div>
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Profesion</label>
        </div>
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Estado civil</label>
        </div>
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Fecha nacimiento</label>
        </div>
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a">
          <label for="" class="label">Salario</label>
        </div>
      </div>

      <div class="containerButton">
        <input type="button" class="submitBtn" value="Registrar">
        <a class="back" href="C:\nginx\html\seguros\view\html\index.html">Volver</a>
      </div>
    </form>
  </div>
</body>

</html>